<header class="header">
  <div class="logo"></div>
  <div class="menu">
    <ul *ngIf="!isAdmin">
      <li>
        <a routerLink="menu" routerLinkActive="active">Strona główna</a>
      </li>
      <li>
        <a routerLink="callendar" routerLinkActive="active">Kalendarz</a>
      </li>
      <li>
        <a routerLink="homework" routerLinkActive="active">Zadania</a>
      </li>
      <li *ngIf="!isTeacher">
        <a routerLink="teachers" routerLinkActive="active">Nauczyciele</a>
      </li>
      <li>
        <a routerLink="allMessages" routerLinkActive="active">Wiadomości</a>
      </li>
      <li>
        <a routerLink="allSubjects" routerLinkActive="active">Przedmioty</a>
      </li>
      <li>
        <a routerLink="live" routerLinkActive="active">Live</a>
      </li>
      <li>
        <a routerLink="login" (click)="logout()">Wyloguj</a>
      </li>
    </ul>

    <ul *ngIf="isAdmin">
      <li>
        <a routerLink="school/all" routerLinkActive="active">Strona główna</a>
      </li>
      <li>
        <a routerLink="login" (click)="logout()">Wyloguj</a>
      </li>
    </ul>
  </div>
</header>
