<header class="header">
  <div [routerLink]="['/menu']" class="logo"></div>
  <div class="menu">
    <ul *ngIf="!isAdmin">
      <li routerLink="menu" routerLinkActive="active">
        <a>Strona główna</a>
      </li>
      <li routerLink="callendar" routerLinkActive="active">
        <a>Kalendarz</a>
      </li>
      <li routerLink="homework" routerLinkActive="active">
        <a>Zadania</a>
      </li>
      <li *ngIf="!isTeacher" routerLink="teachers" routerLinkActive="active">
        <a>Nauczyciele</a>
      </li>
      <li routerLink="allMessages" routerLinkActive="active">
        <a>Wiadomości</a>
      </li>
      <li routerLink="users" routerLinkActive="active">
        <a>Użytkownicy</a>
      </li>
      <li routerLink="allSubjects" routerLinkActive="active">
        <a>Przedmioty</a>
      </li>
      <li routerLink="live" routerLinkActive="active">
        <a>Live</a>
      </li>
      <li routerLink="login" (click)="logout()">
        <a>Wyloguj</a>
      </li>
    </ul>

    <ul *ngIf="isAdmin">
      <li routerLink="school/all" routerLinkActive="active">
        <a>Szkoły</a>
      </li>
      <li routerLink="login" (click)="logout()">
        <a>Wyloguj</a>
      </li>
    </ul>
  </div>
</header>
