.content {
  text-align: center;
  margin-bottom: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  min-height: 80vh;
  font-family: "Lato", sans-serif;
}

.live-link {
  cursor: pointer;
}

.main-schedule {
  display: flex;
}

.info-div h2 {
  margin: 40px;
}

.info-div {
  min-height: 300px;
  margin: 10px 10px;
  text-align: center;
  position: relative;
  text-align: center;
}

.big-column {
  width: 100%;
  min-width: 200px;
  border: 2px solid #dce8ea;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.subject-row {
  display: flex;
  justify-content: space-between;
  text-align: center;
  border-bottom: 1px solid #dce8ea;
  background-color: #dce8ea;
  padding: 0 8px;
  height: 60px;
  color: black;
  vertical-align: top;
}

.subject-row:first-child {
  justify-content: center;
  background-color: #dce8ea;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
  border-color: #cbd7db;
  border-width: 3px;
  height: 50px;
  text-align: center !important;
}

.subject-row:last-child {
  border: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.subject-row span {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-column {
  min-width: 50px;
  max-width: 50px;
}

.second-column {
  min-width: 150px;
  max-width: 150px;
}

.info-div-calendar {
  min-width: 100px;
}

.month-view {
  border: 1px solid #001f54;
}

.big-column-calendar {
  width: 100%;
  min-width: 750px;
  border-radius: 8px;
}

.week-options {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.week-options {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.week-button-a {
  background-color: #e62e47;
  color: black;
  margin: 0 1rem;
  width: 150px;
  text-align: center;
  font-weight: 600;
}

.week-button-b {
  background-color: #3bb598;
  color: black;
  margin: 0 1rem;
  width: 150px;
  text-align: center;
  font-weight: 600;
}

.btn-calendar-color {
  background-color: #14213d !important;
  color: #fefcfb !important;
  border: 1px solid #fefcfb !important;
}

.btn-calendar-color-today {
  background-color: #eaebed;
  color: black;
  border-color: #dce8ea;
}

.btn-calendar-color-today:hover {
  background-color: #7464a0;
  color: black;
  border: 1px solid #fefcfb;
}

.month-class {
  text-transform: capitalize;
}

mwl-calendar-month-view /deep/ .cal-day-badge {
  display: none !important;
}

.week-days-class {
  text-transform: capitalize;
}

.weeks-map {
  display: flex;
  justify-content: center;
  align-items: Center;
}

.weeks-map span {
  margin: 0 30px 0 5px;
}

mwl-calendar-month-view /deep/ .cal-event {
  width: 20px !important;
  height: 20px !important;
  border-radius: 10px !important;
}

.weeks-map {
  display: flex;
}

.week-a {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #e62e47;
}

.week-b {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #3bb598;
}

.week-free {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #f7af28;
}

.active-button {
  border: 3px solid #07d65e;
}

.week-options button:hover {
  background-color: #6ff3a6;
}

@media only screen and (max-width: 576px) {
  .content {
    width: 100%;
    margin-top: auto;
  }
}

/* mwl-calendar-month-view
  /deep/
  .cal-month-view
  .cal-day-cell.cal-in-month.cal-has-events {
  position: relative !important;
}

mwl-calendar-month-view
  /deep/
  .cal-month-view
  .cal-day-cell.cal-out-month.cal-has-events {
  position: relative !important;
} */
mwl-calendar-month-view /deep/ .cal-month-view .cal-day-cell {
  position: relative !important;
}

/* mwl-calendar-month-view
  /deep/
  .cal-month-view
  .cal-day-cell.cal-in-month.cal-has-events {
  position: relative !important;
} */

mwl-calendar-month-view /deep/ .cal-month-view .cal-cell .cal-event {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: 1001;
  border-radius: 0 !important;
  margin: 0 !important;
  opacity: 0.5;
}

mwl-calendar-month-view /deep/ .cal-month-view .cal-day-number {
  position: absolute !important;
  z-index: 1002;
  opacity: 1;
}
