<div class="content">
  <div class="week-options">
    <div class="week-options">
      <button id="A" class="btn" (click)="changeWeek('A')">A</button>
      <button id="B" class="btn" (click)="changeWeek('B')">B</button>
    </div>
  </div>

  <div class="main-schedule">
    <div class="info-div">
      <div class="big-column">
        <div class="subject-row">
          <span>Poniedziałek</span>
        </div>
        <div class="subject-row" *ngFor="let tempSubject of subjectsList">
          <span *ngIf="tempSubject.day == 'MONDAY'"
            >{{ tempSubject.startTime }} {{ tempSubject.name }}</span
          >
        </div>
      </div>
    </div>
    <div class="info-div">
      <div class="big-column">
        <div class="subject-row">
          <span>Wtorek</span>
        </div>
        <div class="subject-row" *ngFor="let tempSubject of subjectsList">
          <span *ngIf="tempSubject.day == 'TUESDAY'"
            >{{ tempSubject.startTime }} {{ tempSubject.name }}</span
          >
        </div>
      </div>
    </div>

    <div class="info-div">
      <div class="big-column">
        <div class="subject-row">
          <span>Środa</span>
        </div>
        <div class="subject-row" *ngFor="let tempSubject of subjectsList">
          <span *ngIf="tempSubject.day == 'WEDNESDAY'"
            >{{ tempSubject.startTime }} {{ tempSubject.name }}</span
          >
        </div>
      </div>
    </div>

    <div class="info-div">
      <div class="big-column">
        <div class="subject-row">
          <span>Czwartek</span>
        </div>
        <div class="subject-row" *ngFor="let tempSubject of subjectsList">
          <span *ngIf="tempSubject.day == 'THURSDAY'"
            >{{ tempSubject.startTime }} {{ tempSubject.name }}</span
          >
        </div>
      </div>
    </div>

    <div class="info-div">
      <div class="big-column">
        <div class="subject-row">
          <span>Piątek</span>
        </div>
        <div class="subject-row" *ngFor="let tempSubject of subjectsList">
          <span *ngIf="tempSubject.day == 'FRIDAY'"
            >{{ tempSubject.startTime }} {{ tempSubject.name }}</span
          >
        </div>
      </div>
    </div>
  </div>

  <div class="main-schedule">
    <div class="info-div">
      <div class="big-column-calendar">
        <div class="row text-center">
          <div class="col-md-4">
            <div class="btn-group">
              <div
                class="btn btn-calendar-color"
                mwlCalendarPreviousView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()"
              >
                Poprzedni
              </div>
              <div
                #myDiv
                class="btn btn-calendar-color-today"
                mwlCalendarToday
                [(viewDate)]="viewDate"
              >
                Dzisiaj
              </div>
              <div
                class="btn btn-calendar-color"
                mwlCalendarNextView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()"
              >
                Następny
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <h3 class="month-class">
              {{ viewDate | calendarDate: view + "ViewTitle":"Pl" }}
            </h3>
          </div>

          <div class="col-md-4">
            <div class="weeks-map">
              <div class="week-a"></div>
              <span>- A</span>
              <div class="week-b"></div>
              <span>- B</span>
              <div class="week-free"></div>
              <span>- Dzień wolny</span>
            </div>
          </div>
        </div>
        <br />
        <div class="month-view" [ngSwitch]="view">
          <mwl-calendar-month-view
            class="week-days-class"
            [viewDate]="viewDate"
            [events]="events"
            [locale]="locale"
            [weekStartsOn]="weekStartsOn"
            [weekendDays]="weekendDays"
            (eventTimesChanged)="eventTimesChanged($event)"
          >
          </mwl-calendar-month-view>
        </div>
      </div>
    </div>
  </div>
</div>
