
<main class="content">
    <div class="info-div head-info">
        <span class="data">Imie</span>
        <span class="data">Nazwisko</span>
        <span class="data">Przedmiot</span>
        <span class="data">Email</span>
        <span class="data">Kontakt</span>
    </div>
    <div class="info-div">
        <span class="data">Imie</span>
        <span class="data">Nazwisko</span>
        <span class="data">Przedmiot</span>
        <span class="data">email</span>
        <button class="btn btn-primary data">Skontaktuj sie</button>
    </div>
    <div class="info-div">
        <span class="data">Imie</span>
        <span class="data">Nazwisko</span>
        <span class="data">Przedmiot</span>
        <span class="data">email</span>
        <button class="btn btn-primary data">Skontaktuj sie</button>
    </div>
  </main>