<div class="content">
  <div class="main-schedule">
    <div class="info-div">
      <h2>Nauczyciele</h2>
      <div class="big-column">
        <div class="subject-row">
          <span>Imie</span>
          <span>Nazwisko</span>
          <span>Przedmiot</span>
          <span>Email</span>
          <span>Kontakt</span>
        </div>

        <div class="subject-row" *ngFor="let tempTeacher of teacherList">
          <span>{{ tempTeacher.firstName }}</span>
          <span>{{ tempTeacher.lastName }}</span>
          <span>{{ tempTeacher.subject }}</span>
          <span>{{ tempTeacher.email }}</span>
          <button
            class="btn"
            routerLink="/createMessage/{{ tempTeacher.teacherId }}"
          >
            Skontaktuj sie
          </button>
        </div>
      </div>
      <div class="subject-row pagin">
        <div class="pagination">
          <ngb-pagination
            [(page)]="thePageNumber"
            [pageSize]="thePageSize"
            [collectionSize]="theElements"
            [maxSize]="4"
            [boundaryLinks]="true"
            (pageChange)="listOfTeachers()"
          >
          </ngb-pagination>
          <div>
            <select
              class="form-control"
              (change)="updateQuantity($event.target.value)"
            >
              <option selected="true">5</option>
              <option>10</option>
              <option>15</option>
              <option>20</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
