<main class="content">
    <div class="info-div head-info">
        <span class="data">Imie</span>
        <span class="data">Nazwisko</span>
        <span class="data">Przedmiot</span>
        <span class="data">Email</span>
        <span class="data">Kontakt</span>
    </div>
    <div *ngFor="let tempTeacher of teacherList">
        <div class="info-div">
            <span class="data">{{tempTeacher.firstName}}</span>
            <span class="data">{{tempTeacher.lastName}}</span>
            <span class="data">{{tempTeacher.subject}}</span>
            <span class="data">{{tempTeacher.email}}</span>
            <button class="btn btn-primary data" routerLink="/createMessage/{{ tempTeacher.teacherId }}">Skontaktuj
                sie</button>
        </div>
    </div>
    <div class="pagination">
        <ngb-pagination [(page)]="thePageNumber" [pageSize]="thePageSize"
            [collectionSize]="theElements" [maxSize]="4" [boundaryLinks]="true"
            (pageChange)="listOfTeachers()">
        </ngb-pagination>
        <div>
            <select class="form-control" (change)="updateQuantity($event.target.value)">
                <option selected="true">5</option>
                <option>10</option>
                <option>15</option>
                <option>20</option>
            </select>
        </div>
      </div>
</main>