<div class="homework-details">
  <div class="homework-frame">
    <h1>Regulamin</h1>
    <div class="frame-test">
      <div class="one-section">
        <p>
          1. Przed rozpoczęciem pracy w aplikacji, użytkownik musi wypełnić
          formularz rejestracyjny i wykonać czynności zgodnie z instrukcją
          zawartą w aplikacji.
        </p>
        <p>
          2. Podczas rejestracji użytkownik musi podać: imię, nazwisko, email,
          hasło, status (uczeń lub nauczyciel) oraz szkołę/uczelnię.
        </p>
        <p>
          3. Jeżeli użytkownik podczas wyboru statusu wybierze status
          "nauczyciel" jest zobowiązany do rejestracji na stonie
          <a href="https://www.twitch.tv/" target="_blank">Twitch.tv</a> i
          podania swojego nicku z portalu
          <a href="https://www.twitch.tv/" target="_blank">Twitch.tv</a>.
        </p>
        <p>
          4. Użytkownik rejestrując się jako "nauczyciel" wyraża zgodę na to by
          transmisja live prowadzona za pośrednictwem portalu
          <a href="https://www.twitch.tv/" target="_blank">Twitch.tv</a>
          była publicznie dostępna w tym portalu.
        </p>
        <p>
          5. Dane podane przez użytkownika w procesie rejestracji muszą być
          zgodne ze stanem faktycznym oraz prawnym.
        </p>
        <p>
          6. Do korzystania z aplikacji niezbędne jest zalogowanie się przy
          użyciu adresu email oraz hasła.
        </p>
        <p>
          7. Uzytkownik nie może podczas korzystania z aplikacji dostarczać treści
          o charakterze bezprawnym.
        </p>
      </div>
    </div>
  </div>
</div>
