<main class="content">
  <div class="info-div">
    <h2>Najbliższe zajęcia</h2>
    <hr>
    <div class="big-column">
      <div class="small-column">
        <a class="header-info">Data</a>
        <a class="info">12.06</a>
        <a class="info">12.06</a>
      </div>
      <div class="small-column">
        <a class="header-info">Godzina</a>
        <a class="info">15:00 - 16:30</a>
        <a class="info">15:00 - 16:30</a>
      </div>
      <div class="small-column">
        <a class="header-info">Przedmiot</a>
        <a class="info">Programowanie obiektowe</a>
        <a class="info">Programowanie</a>
      </div>
    </div>
  </div>
  <div class="info-div">
    <h2>Zadania</h2>
    <hr>
    <div class="big-column">
      <div class="small-column">
        <a class="header-info">Data</a>
        <a class="info">12.06</a>
      </div>
      <div class="small-column">
        <a class="header-info">Godzina</a>
        <a class="info">20:00</a>
      </div>
      <div class="small-column">
        <a class="header-info">Przedmiot</a>
        <a class="info">Programowanie obiektowe</a>
      </div>
    </div>
  </div>
</main>