<div class="content">
  <div class="main-schedule">
    <div class="info-div">
      <h2>Najbliższe zajęcia</h2>
      <div class="big-column">
        <div class="subject-row">
          <span>Dzień</span>
          <span class="od">Od</span>
          <span class="do">Do</span>
          <span>Przedmiot</span>
        </div>

        <div class="subject-row" *ngFor="let tempSubject of subjectsList">
          <span> {{ getDay(tempSubject.day) }}</span>
          <span>
            {{ tempSubject.startTime }} -
            {{ countTime(tempSubject.startTime, tempSubject.longOfTime) }}</span
          >
          <span> {{ tempSubject.name }}</span>
        </div>
      </div>
    </div>
    <div class="info-div">
      <h2 *ngIf="!isTeacher">Zadania</h2>
      <h2 *ngIf="isTeacher">Zadania do oceny</h2>
      <div class="big-column">
        <div class="homework-row" *ngFor="let tempHomework of homeworkList">
          <span>
            {{ tempHomework.title }}
          </span>
          <span>
            {{ tempHomework.deadline }}
          </span>
          <button
            class="btn homework-btn"
            routerLink="/viewHomework/{{ tempHomework.homeworkId }}"
          >
            Szczegóły
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
