<main class="content">
  <div class="info-div">
    <h2>Najbliższe zajęcia</h2>
    <hr>
    <div class="big-column">
      <div class="head-row">
        Dzień Od Do Przedmiot
      </div>
      <div class="subject-row" *ngFor="let tempSubject of subjectsList">
        {{getDay(tempSubject.day)}}
        {{tempSubject.startTime}}
        {{countTime(tempSubject.startTime, tempSubject.longOfTime)}}
        {{tempSubject.name}}
      </div>
    </div>
  </div>
  <div class="info-div">
    <h2>Zadania</h2>
    <hr>
    <div class="big-column">
      <div class="head-row">
        Zadanie termin przycisk
      </div>
      <div class="homework-row" *ngFor="let tempHomework of homeworkList">
        <div>
          {{tempHomework.title}}
          {{tempHomework.deadline}}
        </div>
        <button class="btn btn-primary" routerLink="/viewHomework/{{ tempHomework.homeworkId }}">Szczegóły</button>
      </div>
    </div>
  </div>
</main>