<div class="homework-details">
  <div class="homework-frame">
    <h1>Rozpocznij live</h1>
    <div class="frame-test">
      <div class="one-section">
        <h3>Rozpocznij live w programie OBS Studio:</h3>
        <img src="../../../assets/StartLive.PNG" />
      </div>
    </div>
  </div>
  <div class="homework-frame">
    <h1>Rozpocznij pierwszy raz</h1>
    <div class="frame-test">
      <div class="one-section">
        <h3>Pobierz OBS Studio i zainstaluj według instrukcji</h3>
        <div class="button-row">
          <a
            type="button"
            class="btn instuction-button"
            href="https://obsproject.com/download"
            target="_blank"
            >Pobierz OBS</a
          >
        </div>
      </div>
      <div class="one-section">
        <h3>Podczas pierwszego uruchomienia programu podłącz konto twitch:</h3>
        <img src="../../../assets/PodlaczTwitch.PNG" />
      </div>
      <div class="one-section">
        <h3>Dodaj źróła obrazu i dźwięku:</h3>
        <img src="../../../assets/UstawieniaEkranuIAudio.PNG" />
      </div>
      <div class="one-section">
        <h3>Rozpocznij live w programie OBS Studio:</h3>
        <img src="../../../assets/StartLive.PNG" />
      </div>
    </div>
  </div>
</div>
