<div>
  <h1>Zadania do oceny</h1>
  <div>
    <span>Zadanie</span>
    <span>Termin</span>
  </div>
  <div *ngFor="let tempHomework of notRatedHomeworkList">
    <div>
      <span>{{ tempHomework.title }}</span>
      <span>{{ tempHomework.deadline }}</span>
      <a
        class="btn btn-primary data"
        routerLink="/viewHomework/{{ tempHomework.homeworkId }}"
        >Przejdź</a
      >
    </div>
  </div>
  <div class="pagination">
    <ngb-pagination
      [(page)]="notRatedHomeworkPageNumber"
      [pageSize]="notRatedHomeworkPageSize"
      [collectionSize]="notRatedHomeworkTotalElements"
      [maxSize]="4"
      [boundaryLinks]="true"
      (pageChange)="listOfNotRatedHomeworks()"
    >
    </ngb-pagination>
    <div>
      <select
        class="form-control"
        (change)="updateNotRatedHomeworksQuantity($event.target.value)"
      >
        <option selected="true">5</option>
        <option>10</option>
        <option>15</option>
        <option>20</option>
      </select>
    </div>
  </div>
</div>

<div>
  <h1>Zadania ocenione</h1>
  <div>
    <span>Zadanie</span>
    <span>Termin</span>
  </div>
  <div *ngFor="let tempHomework of ratedHomeworkList">
    <div>
      <span>{{ tempHomework.title }}</span>
      <span>{{ tempHomework.deadline }}</span>
      <a
        class="btn btn-primary data"
        routerLink="/viewHomework/{{ tempHomework.homeworkId }}"
        >Przejdź</a
      >
    </div>
  </div>
  <div class="pagination">
    <ngb-pagination
      [(page)]="ratedHomeworkPageNumber"
      [pageSize]="ratedHomeworkPageSize"
      [collectionSize]="ratedHomeworkTotalElements"
      [maxSize]="4"
      [boundaryLinks]="true"
      (pageChange)="listRatedHomeworks()"
    >
    </ngb-pagination>
    <div>
      <select
        class="form-control"
        (change)="updateRatedHomeworksQuantity($event.target.value)"
      >
        <option selected="true">5</option>
        <option>10</option>
        <option>15</option>
        <option>20</option>
      </select>
    </div>
  </div>
</div>


<div>
    <h1>Zadania aktywne</h1>
    <div>
      <span>Zadanie</span>
      <span>Termin</span>
    </div>
    <div *ngFor="let tempHomework of activeHomeworkList">
      <div>
        <span>{{ tempHomework.title }}</span>
        <span>{{ tempHomework.deadline }}</span>
        <a
        class="btn btn-primary data"
        routerLink="/viewHomework/{{ tempHomework.homeworkId }}"
        >Przejdź</a
      >
      </div>
    </div>
    <div class="pagination">
        <ngb-pagination
        [(page)]="theActiveHomeworkPageNumber"
        [pageSize]="theActiveHomeworkPageSize"
        [collectionSize]="theActiveHomeworkTotalElements"
        [maxSize]="4"
        [boundaryLinks]="true"
        (pageChange)="listOfActiveHomework()"
      >
      </ngb-pagination>
      <div>
        <select
        class="form-control"
        (change)="updateActiveHomeworksQuantity($event.target.value)"
      >
        <option selected="true">5</option>
        <option>10</option>
        <option>15</option>
        <option>20</option>
      </select>
      </div>
    </div>
  </div>
