<div class="add-homework">
  <div class="login-frame">
    <h1>Dodaj zadanie domowe</h1>
    <form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <div>
        <input type="text" formControlName="title" required />
        <label for="" placeholder="Tytuł" alt="Tytuł"></label>
      </div>
      <label
        class="alert alert-danger"
        *ngIf="title.invalid && formSubmitted"
        [ngClass]="'error'"
      >
        Pole nie może być puste
      </label>
      <div>
        <input type="text" formControlName="description" required />
        <label for="" placeholder="Opis" alt="Opis"></label>
        <label
          class="alert alert-danger"
          *ngIf="description.invalid && formSubmitted"
          [ngClass]="'error'"
        >
          Pole nie może być puste
        </label>
      </div>

      <div class="input-row calendar-group">
        <div class="input-group">
          <input
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="dp"
            formControlName="deadline"
            ngbDatepicker
            #d="ngbDatepicker"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary calendar-btn"
              (click)="d.toggle()"
              type="button"
            >
              <svg
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
                class="bi bi-calendar3"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"
                />
                <path
                  fill-rule="evenodd"
                  d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
      <label
        class="alert alert-danger"
        *ngIf="deadline.invalid && formSubmitted"
        [ngClass]="'error'"
      >
        Pole nie może być puste
      </label>
      <div class="input-row calendar-group">
        <div class="files-div" *ngFor="let tempFile of tempFiles">
          <div>
            <svg
              width="25px"
              height="25px"
              viewBox="0 0 16 16"
              class="bi bi-file-earmark-fill file-icon"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0H4zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3z"
              />
            </svg>
            <span>{{ tempFile.fileName }}</span>
          </div>

          <button
            class="btn btn-danger btn-sm rounded-0"
            (click)="reset(tempFile)"
            type="button"
            data-toggle="tooltip"
            data-placement="top"
            title="Usuń"
          >
            <i class="fa fa-trash"></i>
          </button>
        </div>

        <div class="custom-file">
          <input
            #inputFile
            type="file"
            class="custom-file-input"
            id="customFile"
            (change)="onUpload($event)"
          />
          <label class="custom-file-label" for="customFile">Wybierz plik</label>
        </div>
      </div>

      <button type="submit" class="btn add-homework-button input-row">
        Dodaj zadanie
      </button>
    </form>
  </div>
</div>
