<form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <div>
    <div>Tytuł</div>
    <input type="text" formControlName="title" placeholder="Tytuł" />
    <label *ngIf="title.invalid" [ngClass]="'error'"> Pole nie może być puste </label>
  </div>
  <div>
    <div>Opis</div>
    <input type="text" formControlName="description" placeholder="Opis" />
    <label *ngIf="description.invalid" [ngClass]="'error'"> Pole nie może być puste </label>
  </div>

  <div>
    <div>Data</div>
    <div class="input-group" style="width: 300px;">
      <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="deadline" ngbDatepicker
        #d="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar3" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z" />
            <path fill-rule="evenodd"
              d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
          </svg>
        </button>
      </div>
    </div>
    <label *ngIf="deadline.invalid" [ngClass]="'error'"> Pole nie może być puste </label>
  </div>

  <div>
    <div>Pliki</div>
    <div *ngFor="let tempFile of tempFiles">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-earmark-fill" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0H4zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3z" />
      </svg>
      {{tempFile.fileName}}
      <button type="button" class="btn btn-sm btn-outline-secondary" (click)="reset(tempFile)">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-minus" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H4z">
          </path>
          <path fill-rule="evenodd" d="M5.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z"></path>
        </svg>
      </button>
    </div>

    <div class="custom-file" style="width: 200px;">
      <input #inputFile type="file" class="custom-file-input" id="customFile" (change)="onUpload($event)">
      <label class="custom-file-label" for="customFile">Wybierz plik</label>
    </div>
  </div>

  <button type="submit" class="btn btn-secondary">Dodaj zadanie</button>
</form>