<div class="content">
  <div class="week-options">
    <button id="1" class="btn" (click)="changeMessages(1)">
      Wiadomości nieprzeczytane
    </button>
    <button id="2" class="btn" (click)="changeMessages(2)">
      Wiadomości przeczytane
    </button>
    <button id="3" class="btn" (click)="changeMessages(3)">
      Wiadomości wysłane
    </button>
  </div>

  <div *ngIf="value == 1" class="main-schedule">
    <div class="info-div">
      <h2>Wiadomości nieprzeczytane</h2>
      <div class="big-column">
        <div class="subject-row">
          <span>Tytuł</span>
          <span>Data</span>
          <span>Więcej</span>
        </div>

        <div class="subject-row" *ngFor="let tempMessage of messageUnreadList">
          <span>{{ tempMessage.title }}</span>
          <span>{{ transformDate(tempMessage.date) }}</span>
          <button
            class="btn"
            (click)="changeStatus(tempMessage.messageId)"
            routerLink="/viewMessage/{{ tempMessage.messageId }}"
          >
            Otwórz
          </button>
        </div>
        <div
          class="subject-row no-messages"
          *ngIf="this.messageUnreadList.length == 0"
        >
          <span>Brak wiadomości</span>
        </div>
      </div>
      <div *ngIf="this.messageUnreadList.length != 0" class="pagin">
        <div class="pagination">
          <ngb-pagination
            [(page)]="theUnreadMessagesPageNumber"
            [pageSize]="theUnreadMessagesPageSize"
            [collectionSize]="theUnreadMessagesElements"
            [maxSize]="4"
            [boundaryLinks]="true"
            (pageChange)="listOfUnreadMessages()"
          >
          </ngb-pagination>
          <div>
            <select
              class="form-control"
              (change)="updateUnreadMessagesQuantity($event.target.value)"
            >
              <option selected="true">5</option>
              <option>10</option>
              <option>15</option>
              <option>20</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="value == 2" class="main-schedule">
    <div class="info-div">
      <h2>Wiadomości przeczytane</h2>
      <div class="big-column">
        <div class="subject-row">
          <span>Tytuł</span>
          <span>Data</span>
          <span>Więcej</span>
        </div>

        <div class="subject-row" *ngFor="let tempMessage of messageReadList">
          <span>{{ tempMessage.title }}</span>
          <span>{{ transformDate(tempMessage.date) }}</span>
          <button
            class="btn"
            routerLink="/viewMessage/{{ tempMessage.messageId }}"
          >
            Otwórz
          </button>
        </div>
        <div
          class="subject-row no-messages"
          *ngIf="this.messageReadList.length == 0"
        >
          <span>Brak wiadomości</span>
        </div>
      </div>
      <div *ngIf="this.messageReadList.length != 0" class="pagin">
        <div class="pagination">
          <ngb-pagination
            [(page)]="theReadMessagesPageNumber"
            [pageSize]="theReadMessagesPageSize"
            [collectionSize]="theReadMessagesElements"
            [maxSize]="4"
            [boundaryLinks]="true"
            (pageChange)="listOfReadMessages()"
          >
          </ngb-pagination>
          <div>
            <select
              class="form-control"
              (change)="updateReadMessagesQuantity($event.target.value)"
            >
              <option selected="true">5</option>
              <option>10</option>
              <option>15</option>
              <option>20</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="value == 3" class="main-schedule">
    <div class="info-div">
      <h2>Wiadomości wysłane</h2>
      <div class="big-column">
        <div class="subject-row">
          <span>Tytuł</span>
          <span>Data</span>
          <span>Więcej</span>
        </div>

        <div class="subject-row" *ngFor="let tempMessage of messageSentList">
          <span>{{ tempMessage.title }}</span>
          <span>{{ transformDate(tempMessage.date) }}</span>
          <button
            class="btn"
            (click)="changeStatus(tempMessage.messageId)"
            routerLink="/viewMessage/{{ tempMessage.messageId }}"
          >
            Otwórz
          </button>
        </div>
        <div
          class="subject-row no-messages"
          *ngIf="this.messageSentList.length == 0"
        >
          <span>Brak wiadomości</span>
        </div>
      </div>
      <div *ngIf="this.messageSentList.length != 0" class="pagin">
        <div class="pagination">
          <ngb-pagination
            [(page)]="theSentMessagesPageNumber"
            [pageSize]="theSentMessagesPageSize"
            [collectionSize]="theSentMessagesElements"
            [maxSize]="4"
            [boundaryLinks]="true"
            (pageChange)="listOfSentMessages()"
          >
          </ngb-pagination>
          <div>
            <select
              class="form-control"
              (change)="updateSentMessagesQuantity($event.target.value)"
            >
              <option selected="true">5</option>
              <option>10</option>
              <option>15</option>
              <option>20</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="main-schedule">
    <div class="info-div">
      <h2>Wyszukaj</h2>
      <div class="search-section">
        <div class="search-group">
          <input type="text" required (input)="search($event.target.value)" />
          <label for="" placeholder="Szukaj" alt="Szukaj"></label>
        </div>
        <button class="btn search-button" (click)="search(searchValue)">
          Szukaj
        </button>
      </div>

      <div class="big-column">
        <div class="subject-row">
          <span>Imie</span>
          <span>Nazwisko</span>
          <span>Email</span>
          <span>Status</span>
          <span>Wybierz</span>
          <span>Wiadomość</span>
        </div>
        <div class="subject-row" *ngFor="let tempStudent of studentsList">
          <span>{{ tempStudent.firstName }}</span>
          <span>{{ tempStudent.lastName }}</span>
          <span>{{ tempStudent.email }}</span>
          <span>{{ getRole(tempStudent.roleName) }}</span>
          <button class="btn btn-pick" (click)="add(tempStudent)">
            Wybierz
          </button>
          <button
            class="btn"
            routerLink="/createMessage/{{ tempStudent.userId }}"
          >
            Nowa wiadomość
          </button>
        </div>
        <div class="subject-row no-users" *ngIf="this.studentsList.length == 0">
          <span>Nie znaleziono</span>
        </div>
      </div>
      <div class="pagin">
        <div class="pagination">
          <ngb-pagination
            [(page)]="thePageNumber"
            [pageSize]="thePageSize"
            [collectionSize]="theElements"
            [maxSize]="4"
            [boundaryLinks]="true"
            (pageChange)="listOfStudents()"
          >
          </ngb-pagination>
          <div>
            <select
              class="form-control"
              (change)="updateQuantity($event.target.value)"
            >
              <option selected="true">5</option>
              <option>10</option>
              <option>15</option>
              <option>20</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content" style="padding-bottom: 1000px">
  <div class="main-schedule">
    <div class="info-div">
      <h2>Wybrani</h2>
      <button
        class="btn add-homework-button"
        (click)="submit()"
        style="margin-bottom: 20px"
      >
        Wyślij wybranym
      </button>
      <div class="big-column">
        <div class="subject-row">
          <span>Imie</span>
          <span>Nazwisko</span>
          <span>Email</span>
          <span>Status</span>
          <span>Usuń</span>
        </div>
        <div class="subject-row" *ngFor="let tempUser of tempUsers">
          <span>{{ tempUser.firstName }}</span>
          <span>{{ tempUser.lastName }}</span>
          <span>{{ tempUser.email }}</span>
          <span>{{ getRole(tempUser.roleName) }}</span>
          <button class="btn edit-subject-button" (click)="remove(tempUser)">
            Usuń
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
