<div class="content">
  <div class="main-schedule">
    <div class="info-div">
      <h2>Zajęcia live</h2>
      <div class="big-column">
        <div class="subject-row">
          <span>Przedmiot</span>
          <span>Godzina rozpoczęcia</span>
          <span>Dołącz</span>
        </div>
        <div class="subject-row" *ngFor="let tempLive of liveClasses">
          <span>{{ tempLive.subjectName }}</span>
          <span>{{ tempLive.startTime }}</span>
          <button class="btn" routerLink="/classes/{{ tempLive.lessonId }}">
            Dołącz
          </button>
          <button
            *ngIf="isTeacher"
            class="btn btn-danger"
            (click)="closeLive(tempLive.lessonId)"
          >
            Zakończ
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
