<div *ngIf="editAnswer" class="homework-details">
  <div class="login-frame">
    <h1>Dodaj odpowiedź</h1>
    <form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <div>
        <input type="text" formControlName="message" required />
        <label for="" placeholder="Wiadomość" alt="Wiadomość"></label>
      </div>

      <div class="input-row calendar-group">
        <div class="files-div" *ngFor="let tempFile of tempFiles">
          <div>
            <svg
              width="25px"
              height="25px"
              viewBox="0 0 16 16"
              class="bi bi-file-earmark-fill file-icon"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0H4zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3z"
              />
            </svg>
            <span>{{ tempFile.fileName }}</span>
          </div>

          <button
            class="btn btn-danger btn-sm rounded-0"
            (click)="reset(tempFile)"
            type="button"
            data-toggle="tooltip"
            data-placement="top"
            title="Usuń"
          >
            <i class="fa fa-trash"></i>
          </button>
        </div>

        <div class="custom-file">
          <input
            #inputFile
            type="file"
            class="custom-file-input"
            id="customFile"
            (change)="onUpload($event)"
          />
          <label class="custom-file-label" for="customFile">Wybierz plik</label>
        </div>
      </div>

      <button type="submit" class="btn add-homework-button input-row">
        Edytuj odpowiedź
      </button>
    </form>
  </div>
</div>
<div class="homework-details">
  <div class="homework-frame">
    <h1>{{ homeworkDetails.subject }}</h1>
    <div class="frame-test">
      <div class="one-section">
        <h3>Tytuł zadania:</h3>
        <span>{{ homeworkDetails.title }}</span>
      </div>
      <div class="one-section">
        <h3>Opis:</h3>
        <span>{{ homeworkDetails.description }}</span>
      </div>
      <div class="one-section">
        <h3>Termin:</h3>
        <span>{{ transformDate(homeworkDetails.deadline) }}</span>
      </div>
      <div class="one-section">
        <h3>Pliki:</h3>
        <div class="files-div" *ngFor="let tempFile of homeworkDetails.files">
          <div>
            <svg
              width="30px"
              height="30px"
              viewBox="0 0 16 16"
              class="bi bi-file-earmark-fill file-icon"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0H4zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3z"
              />
            </svg>
            <span>{{ tempFile.fileName }}</span>
          </div>
          <button
            class="btn download-button"
            (click)="
              downloadHomeworkFile(tempFile.homeworkFileId, tempFile.fileName)
            "
          >
            <i class="fa fa-download"></i> Pobierz
          </button>
        </div>
        <div *ngIf="homeworkDetails.files.length == 0">
          <span>Brak plików</span>
        </div>
      </div>
    </div>
  </div>

  <div class="homework-frame">
    <h1>Twoja odpowiedź</h1>
    <div class="frame-test">
      <div class="one-section">
        <h3>Wiadomość</h3>
        <span>{{ homeworkAnswerDetails.message }}</span>
      </div>

      <div *ngIf="homeworkAnswerDetails.grade != undefined" class="one-section">
        <h3>Ocena:</h3>
        <span>{{ homeworkAnswerDetails.grade }}</span>
      </div>

      <div *ngIf="homeworkAnswerDetails.grade != undefined" class="one-section">
        <h3>Komentarz:</h3>
        <span>{{ homeworkAnswerDetails.comment }}</span>
      </div>

      <div class="one-section">
        <h3>Pliki:</h3>
        <div
          class="files-div"
          *ngFor="let tempFile of homeworkAnswerDetails.files"
        >
          <div>
            <svg
              width="30px"
              height="30px"
              viewBox="0 0 16 16"
              class="bi bi-file-earmark-fill file-icon"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0H4zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3z"
              />
            </svg>
            <span>{{ tempFile.fileName }}</span>
          </div>
          <button
            class="btn download-button"
            (click)="
              downloadHomeworkAnswerFile(
                tempFile.homeworkAnswerFileId,
                tempFile.fileName
              )
            "
          >
            <i class="fa fa-download"></i> Pobierz
          </button>
        </div>
        <div *ngIf="homeworkAnswerDetails.files.length == 0">
          <span>Brak plików</span>
        </div>
      </div>
      <button
        *ngIf="
          homeworkAnswerDetails.grade == undefined &&
          isBeforeDeadline(homeworkDetails.deadline)
        "
        class="btn edit-homework-answer-button"
        (click)="mapForm()"
      >
        Edytuj
      </button>
    </div>
  </div>
</div>
