<div class="homework-details">
  <div class="homework-frame" *ngIf="homeworkDetails != undefined">
    <h1>{{ homeworkDetails.subject }}</h1>
    <div class="frame-test">
      <div class="one-section">
        <h3>Tytuł zadania:</h3>
        <span>{{ homeworkDetails.title }}</span>
      </div>
      <div class="one-section">
        <h3>Opis:</h3>
        <span>{{ homeworkDetails.description }}</span>
      </div>
      <div class="one-section">
        <h3>Pliki:</h3>
        <div class="files-div" *ngFor="let tempFile of homeworkDetails.files">
          <div>
            <svg
              width="30px"
              height="30px"
              viewBox="0 0 16 16"
              class="bi bi-file-earmark-fill file-icon"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0H4zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3z"
              />
            </svg>
            <span>{{ tempFile.fileName }}</span>
          </div>
          <button
            class="btn download-button"
            (click)="downloadFile(tempFile.homeworkFileId, tempFile.fileName)"
          >
            <i class="fa fa-download"></i> Pobierz
          </button>
        </div>
        <div *ngIf="homeworkDetails.files.length == 0">
          <span>Brak plików</span>
        </div>
      </div>
      <button
        *ngIf="homeworkDetails.status == 'ACTIVE' && !isTeacher"
        class="btn add-homework-answer-button"
        routerLink="/createHomeworkAnswer/{{ homeworkDetails.homeworkId }}"
      >
        Dodaj odpowiedź
      </button>
    </div>
  </div>
</div>

<div *ngIf="isTeacher" class="content">
  <div class="main-schedule">
    <div class="info-div">
      <h2>Nieocenione prace</h2>
      <div class="big-column">
        <div class="subject-row">
          <span>Imie</span>
          <span>Nazwisko</span>
          <span>Oceń</span>
        </div>
        <div
          class="subject-row"
          *ngFor="let tempHomework of homeworkAnswerList"
        >
          <span>{{ tempHomework.userFirstName }}</span>
          <span>{{ tempHomework.userLastName }}</span>
          <button class="btn" (click)="ratePage(tempHomework.homeworkAnswerId)">
            Oceń
          </button>
        </div>
        <a
          class="subject-row no-homeworks"
          *ngIf="this.homeworkAnswerList.length == 0"
        >
          <span>Brak</span>
        </a>
      </div>
      <div *ngIf="this.homeworkAnswerList.length != 0" class="pagin">
        <div class="pagination">
          <ngb-pagination
            [(page)]="thePageNumber"
            [pageSize]="thePageSize"
            [collectionSize]="theElements"
            [maxSize]="4"
            [boundaryLinks]="true"
            (pageChange)="getHomeworkAnswers(homeworkDetails.homeworkId)"
          >
          </ngb-pagination>
          <div>
            <select
              class="form-control"
              (change)="updateQuantity($event.target.value)"
            >
              <option selected="true">5</option>
              <option>10</option>
              <option>15</option>
              <option>20</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="info-div">
      <h2>Ocenione prace</h2>
      <div class="big-column">
        <div class="subject-row">
          <span>Imie</span>
          <span>Nazwisko</span>
          <span>Ocena</span>
          <span>Edytuj</span>
        </div>
        <div
          class="subject-row"
          *ngFor="let tempHomework of homeworkAnswerListWithGrade"
        >
          <span>{{ tempHomework.userFirstName }}</span>
          <span>{{ tempHomework.userLastName }}</span>
          <span>{{ tempHomework.grade }}</span>
          <button class="btn" (click)="ratePage(tempHomework.homeworkAnswerId)">
            Zmień ocene
          </button>
        </div>
        <div
          class="subject-row no-homeworks"
          *ngIf="this.homeworkAnswerListWithGrade.length == 0"
        >
          <span>Brak</span>
        </div>
      </div>
      <a *ngIf="this.homeworkAnswerListWithGrade.length != 0" class="pagin">
        <div class="pagination">
          <ngb-pagination
            [(page)]="thePageNumberWithGrade"
            [pageSize]="thePageSizeWithGrade"
            [collectionSize]="theElementsWithGrade"
            [maxSize]="4"
            [boundaryLinks]="true"
            (pageChange)="
              getHomeworkAnswersWithGrade(homeworkDetails.homeworkId)
            "
          >
          </ngb-pagination>
          <div>
            <select
              class="form-control"
              (change)="updateQuantityWithGrade($event.target.value)"
            >
              <option selected="true">5</option>
              <option>10</option>
              <option>15</option>
              <option>20</option>
            </select>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<!-- 
<div *ngIf="isTeacher">
  <div>
    <div>
      <span>Imie</span>
      <span>Nazwisko</span>
    </div>
    <div *ngFor="let tempHomework of homeworkAnswerList">
      <div>
        <span>{{ tempHomework.userFirstName }}</span>
        <span>{{ tempHomework.userLastName }}</span>
        <button
          class="btn btn-primary"
          routerLink="/rate/{{ tempHomework.homeworkAnswerId }}"
        >
          Oceń
        </button>
      </div>
    </div>
    <div class="pagination">
      <ngb-pagination
        [(page)]="thePageNumber"
        [pageSize]="thePageSize"
        [collectionSize]="theElements"
        [maxSize]="4"
        [boundaryLinks]="true"
        (pageChange)="getHomeworkAnswers(homeworkDetails.homeworkId)"
      >
      </ngb-pagination>
      <div>
        <select
          class="form-control"
          (change)="updateQuantity($event.target.value)"
        >
          <option selected="true">5</option>
          <option>10</option>
          <option>15</option>
          <option>20</option>
        </select>
      </div>
    </div>
  </div>

  <div>
    <div>
      <span>Imie</span>
      <span>Nazwisko</span>
      <span>Ocena</span>
    </div>
    <div *ngFor="let tempHomework of homeworkAnswerListWithGrade">
      <div>
        <span>{{ tempHomework.userFirstName }}</span>
        <span>{{ tempHomework.userLastName }}</span>
        <span>{{ tempHomework.grade }}</span>
        <button
          class="btn btn-warning"
          routerLink="/rate/{{ tempHomework.homeworkAnswerId }}"
        >
          Zmień ocene
        </button>
      </div>
    </div>
    <div class="pagination">
      <ngb-pagination
        [(page)]="thePageNumberWithGrade"
        [pageSize]="thePageSizeWithGrade"
        [collectionSize]="theElementsWithGrade"
        [maxSize]="4"
        [boundaryLinks]="true"
        (pageChange)="getHomeworkAnswersWithGrade(homeworkDetails.homeworkId)"
      >
      </ngb-pagination>
      <div>
        <select
          class="form-control"
          (change)="updateQuantityWithGrade($event.target.value)"
        >
          <option selected="true">5</option>
          <option>10</option>
          <option>15</option>
          <option>20</option>
        </select>
      </div>
    </div>
  </div>
</div> -->
