<div *ngIf="messageDetails != undefined">
    <p>Tytuł: {{messageDetails.title}}</p>
    <p>Treść: {{messageDetails.content}}</p>
    <p>Imie: {{messageDetails.firstName}}</p>
    <p>Nazwisko: {{messageDetails.lastName}}</p>
    <p>Email: {{messageDetails.email}}</p>
    <button class="btn btn-success" routerLink="/createMessage/{{ messageDetails.userId }}">Odpowiedz</button>
    <div>
        <div *ngFor="let tempFile of messageDetails.files">
            <p>{{tempFile.fileName}}</p>
            <button class="btn btn-primary"
                (click)="downloadFile(tempFile.messageFileId, tempFile.fileName)">Pobierz</button>
        </div>
    </div>
</div>