<button class="btn btn-success" routerLink="/add-school">Dodaj szkołe</button>
<div>
  <span>Szkoła</span>
</div>
<div *ngFor="let tempSchool of schoolList">
  <div>
    <span>{{ tempSchool.name }}</span>
    <span>{{ tempSchool.city }}</span>
    <button
      class="btn btn-primary"
      routerLink="/add-schedule/{{ tempSchool.schoolId }}"
    >
      Dodaj siatkę studiów
    </button>
    <button
      class="btn btn-warning"
      routerLink="/update-school/{{ tempSchool.schoolId }}"
    >
      Edytuj
    </button>
  </div>
</div>
<div class="pagination">
  <ngb-pagination
    [(page)]="thePageNumber"
    [pageSize]="thePageSize"
    [collectionSize]="theElements"
    [maxSize]="4"
    [boundaryLinks]="true"
    (pageChange)="listOfSchools()"
  >
  </ngb-pagination>
  <div>
    <select class="form-control" (change)="updateQuantity($event.target.value)">
      <option selected="true">5</option>
      <option>10</option>
      <option>15</option>
      <option>20</option>
    </select>
  </div>
</div>
