<div>
    <div>
      <span>Imie</span>
      <span>Nazwisko</span>
      <span>Email</span>
      <span>Rola</span>
      <span></span>
    </div>
    <div *ngFor="let tempStudent of studentsListBySubject">
      <div>
        <span>{{ tempStudent.firstName }}</span>
        <span>{{ tempStudent.lastName }}</span>
        <span>{{ tempStudent.email }}</span>
        <span>{{ tempStudent.roleName }}</span>
        <button class="btn btn-danger" (click)="removeFromSubject(tempStudent.userId)">
          Usuń
        </button>
      </div>
    </div>
    <div class="pagination">
      <ngb-pagination
        [(page)]="thePageNumberBySubject"
        [pageSize]="thePageSizeBySubject"
        [collectionSize]="theElementsBySubject"
        [maxSize]="4"
        [boundaryLinks]="true"
        (pageChange)="listOfUsersBySubject()"
      >
      </ngb-pagination>
      <div>
        <select
          class="form-control"
          (change)="updateQuantityBySubject($event.target.value)"
        >
          <option selected="true">5</option>
          <option>10</option>
          <option>15</option>
          <option>20</option>
        </select>
      </div>
    </div>



<input
  type="text"
  (change)="search($event.target.value)"
  placeholder="Szukaj"
/>
<button class="btn btn-primary" (click)="search(searchValue)">Szukaj</button>
<div>
  <div>
    <span>Imie</span>
    <span>Nazwisko</span>
    <span>Email</span>
    <span>Rola</span>
    <span></span>
  </div>
  <div *ngFor="let tempStudent of studentsList">
    <div>
      <span>{{ tempStudent.firstName }}</span>
      <span>{{ tempStudent.lastName }}</span>
      <span>{{ tempStudent.email }}</span>
      <span>{{ tempStudent.roleName }}</span>
      <button class="btn btn-primary" (click)="add(tempStudent)">
        Wybierz
      </button>
    </div>
  </div>
  <div class="pagination">
    <ngb-pagination
      [(page)]="thePageNumber"
      [pageSize]="thePageSize"
      [collectionSize]="theElements"
      [maxSize]="4"
      [boundaryLinks]="true"
      (pageChange)="listOfStudents()"
    >
    </ngb-pagination>
    <div>
      <select
        class="form-control"
        (change)="updateQuantity($event.target.value)"
      >
        <option selected="true">5</option>
        <option>10</option>
        <option>15</option>
        <option>20</option>
      </select>
    </div>
  </div>

  <button class="btn btn-primary" (click)="submit()">Dodaj wszystkich</button>

  <h1>Do dodania</h1>
  <div *ngFor="let tempUser of tempUsers">
    <span>{{ tempUser.firstName }}</span>
    <span>{{ tempUser.lastName }}</span>
    <span>{{ tempUser.email }}</span>
    <span>{{ tempUser.roleName }}</span>
    <button class="btn btn-warning" (click)="remove(tempUser)">Usuń</button>
  </div>
</div>
