<div class="content">
  <div class="week-options">
    <div class="week-options">
      <button class="btn" routerLink="/homework">Powrót</button>
    </div>
  </div>

  <div class="main-schedule">
    <div class="info-div">
      <h2>Ocenione zadania</h2>
      <div class="big-column">
        <div class="subject-row">
          <span>Zadanie</span>
          <span>Termin</span>
          <span>Ocena</span>
          <span>Odpowiedź</span>
        </div>
        <div class="subject-row" *ngFor="let tempHomework of ratedHomeworkList">
          <span>{{ tempHomework.title }}</span>
          <span>{{ tempHomework.deadline }}</span>
          <span>{{ tempHomework.grade }}</span>
          <button
            class="btn"
            routerLink="/homework-answer-details/{{ tempHomework.homeworkId }}"
          >
            Zobacz
          </button>
        </div>
        <div
          class="subject-row no-homeworks"
          *ngIf="this.ratedHomeworkList.length == 0"
        >
          <span>Brak zadań</span>
        </div>
      </div>
      <div *ngIf="this.ratedHomeworkList.length != 0" class="pagin">
        <div class="pagination">
          <ngb-pagination
            [(page)]="theRatedHomeworkPageNumber"
            [pageSize]="theRatedHomeworkPageSize"
            [collectionSize]="theRatedHomeworkTotalElements"
            [maxSize]="4"
            [boundaryLinks]="true"
            (pageChange)="listOfRatedHomework()"
          >
          </ngb-pagination>
          <div>
            <select
              class="form-control"
              (change)="updateRatedHomeworksQuantity($event.target.value)"
            >
              <option selected="true">5</option>
              <option>10</option>
              <option>15</option>
              <option>20</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="info-div">
      <h2>Ukończone zadania</h2>
      <div class="big-column">
        <div class="subject-row">
          <span>Zadanie</span>
          <span>Termin</span>
          <span>Szczegóły</span>
        </div>
        <div class="subject-row" *ngFor="let tempHomework of doneHomeworkList">
          <span>{{ tempHomework.title }}</span>
          <span>{{ tempHomework.deadline }}</span>
          <button
            *ngIf="isBeforeDeadline(tempHomework.deadline)"
            class="btn active"
            routerLink="/homework-answer-details/{{ tempHomework.homeworkId }}"
          >
            Edytuj
          </button>

          <button
            *ngIf="!isBeforeDeadline(tempHomework.deadline)"
            class="btn"
            routerLink="/homework-answer-details/{{ tempHomework.homeworkId }}"
          >
            Zobacz
          </button>
        </div>
        <div
          class="subject-row no-homeworks"
          *ngIf="this.doneHomeworkList.length == 0"
        >
          <span>Brak zadań</span>
        </div>
      </div>
      <div *ngIf="this.doneHomeworkList.length != 0" class="pagin">
        <div class="pagination">
          <ngb-pagination
            [(page)]="theDoneHomeworkPageNumber"
            [pageSize]="theDoneHomeworkPageSize"
            [collectionSize]="theDoneHomeworkTotalElements"
            [maxSize]="4"
            [boundaryLinks]="true"
            (pageChange)="listOfDoneHomework()"
          >
          </ngb-pagination>
          <div>
            <select
              class="form-control"
              (change)="updateDoneHomeworksQuantity($event.target.value)"
            >
              <option selected="true">5</option>
              <option>10</option>
              <option>15</option>
              <option>20</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
