<div class="add-homework">
  <div class="login-frame">
    <h1>Dodaj przedmiot</h1>
    <form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <div>
        <input type="text" formControlName="name" required />
        <label for="" placeholder="Nazwa" alt="Nazwa"></label>
      </div>
      <label
        class="alert alert-danger"
        *ngIf="name.invalid && formSubmitted"
        [ngClass]="'error'"
      >
        Pole nie może być puste
      </label>

      <label class="info-label day-label">Dzień: </label>
      <div class="input-row select-input">
        <select class="form-control" formControlName="day">
          <option value="MONDAY">Poniedziałek</option>
          <option value="TUESDAY">Wtorek</option>
          <option value="WEDNESDAY">Środa</option>
          <option value="THURSDAY">Czwartek</option>
          <option value="FRIDAY">Piątek</option>
        </select>
      </div>
      <label
        class="alert alert-danger input-row"
        *ngIf="day.invalid && formSubmitted"
        [ngClass]="'error'"
      >
        Pole nie może być puste
      </label>

      <label class="info-label">Tydzień: </label>
      <div class="input-row select-input">
        <select class="form-control" formControlName="week">
          <option value="ALL">A i B</option>
          <option value="A">A</option>
          <option value="B">B</option>
        </select>
      </div>
      <label
        class="alert alert-danger input-row"
        *ngIf="week.invalid && formSubmitted"
        [ngClass]="'error'"
      >
        Pole nie może być puste
      </label>

      <label class="info-label">Godzina: </label>
      <div class="input-row select-input time-input">
        <input
          class="form-control time-form"
          type="time"
          id="appt"
          name="appt"
          min="07:00"
          max="20:00"
          formControlName="startTime"
        />
      </div>
      <label
        class="alert alert-danger input-row"
        *ngIf="startTime.invalid && formSubmitted"
        [ngClass]="'error'"
      >
        Pole nie może być puste
      </label>

      <label class="info-label">Czas trwania: </label>
      <div class="input-row select-input">
        <select class="form-control" formControlName="longOfTime">
          <option value="30">30 minut</option>
          <option value="45">45 minut</option>
          <option value="60">60 minut</option>
          <option value="90">90 minut</option>
        </select>
      </div>
      <label
        class="alert alert-danger input-row"
        *ngIf="longOfTime.invalid && formSubmitted"
        [ngClass]="'error'"
      >
        Pole nie może być puste
      </label>

      <div class="input-row calendar-group">
        <div class="files-div" *ngFor="let tempFile of tempFiles">
          <div>
            <svg
              width="25px"
              height="25px"
              viewBox="0 0 16 16"
              class="bi bi-file-earmark-fill file-icon"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0H4zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3z"
              />
            </svg>
            <span>{{ tempFile.fileName }}</span>
          </div>

          <button
            class="btn btn-danger btn-sm rounded-0"
            (click)="reset(tempFile)"
            type="button"
            data-toggle="tooltip"
            data-placement="top"
            title="Usuń"
          >
            <i class="fa fa-trash"></i>
          </button>
        </div>

        <div class="custom-file">
          <input
            #inputFile
            type="file"
            class="custom-file-input"
            id="customFile"
            (change)="onUpload($event)"
          />
          <label class="custom-file-label" for="customFile">Wybierz plik</label>
        </div>
      </div>
      <button type="submit" class="btn add-homework-button input-row">
        Dodaj przedmiot
      </button>
    </form>
  </div>
</div>
