<div class="classes">
  <div class="left">
    <div class="video">
      <!-- <iframe id="videoIframe" width="560" height="315"  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
      <iframe class="iframe" [src]="urlSafe" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="files">
      <button>test</button>
      <button>test</button>
      <button>test</button>
    </div>
  </div>
  <div class="right">
    <div class="chatColumn">
      <iframe class="chat" src="https://www.youtube.com/live_chat?v=36YnV9STBqc&embed_domain=localhost"></iframe>
    </div>
  </div>
</div>