<div *ngIf="url != ''">
  <iframe [src]="urlSafe" allowfullscreen></iframe>

  <h1>Pliki</h1>
  <div>
    <div *ngFor="let tempFile of classes.files">
      <p>{{tempFile.fileName}}</p>
      <button class="btn btn-primary" (click)="downloadFile(tempFile.lessonFileId, tempFile.fileName)">Pobierz</button>
    </div>
  </div>
</div>



<div>
  <div>
    <div class="chat">
      <div class="message"></div>
    </div>
  </div>
</div>
<div>
  <div class="btn btn-primary" (click)="sendMessage(input.value)">Wyslij
  </div>
  <input id="input" type="text" #input>
</div>