
<main class="content">
    <div class="info-div head-info">
        <span class="data">Przedmiot</span>
        <span class="data">Termin</span>
        <span class="data">Pozostało</span>
        <span class="data"></span>
    </div>
    <div class="info-div">
        <span class="data">Programowanie</span>
        <span class="data">20.05.2020</span>
        <span class="data">1 dzień</span>
        <a class="btn btn-primary data">Przejdź</a>
    </div>
    <div class="info-div">
        <span class="data">Systemy operacyjne</span>
        <span class="data">22.05.2020</span>
        <span class="data">3 dni</span>
        <a class="btn btn-primary data">Przejdź</a>
    </div>
  </main>