
<main class="content">
    <div class="info-div head-info">
        <span class="data">Przedmiot</span>
        <span class="data">Termin</span>
        <span class="data">Pozostało</span>
        <span class="data"></span>
    </div>
    <div class="info-div" *ngFor="let tempHomework of homeworkList">
        <div *ngIf="tempHomework.status == 'ACTIVE'">
            <span class="data">{{tempHomework.title}}</span>
            <span class="data">{{tempHomework.deadline}}</span>
            <span class="data">{{countTime(tempHomework.deadline)}}</span>
            <a class="btn btn-primary data">Przejdź</a>
        </div>
    </div>
  </main>